<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
            <div *ngFor="let tempProduct of productList" class="col-md-3">
                <div class="product-box">
                    <div
						style="max-width: 100px; height: 100px;">
						<img style="width: 100%;
                        height: 100%;
                        display: block;" class="img-responsive" src="{{ tempProduct.imageUrl}}" >
					</div>
                    <h1>{{ tempProduct.name}}</h1>
                    <div class="price">{{ tempProduct.unitPrice | currency:'INR'}}</div>
                    <a href="#" class="primary-btn">Add to Cart</a>
                </div>        
            </div>
            </div>
        </div>
    </div>
</div>